@supports selector(:has(*)) {
  @media (min-width: 48rem) {
    .fade-in-section [class*="section_cnt"] {
      transition: opacity 0.3s ease-out 0.5s, transform 0.8s ease-out 0.5s;
      will-change: opacity, transform;
      transform: translateY(5rem);
      opacity: 0;
    }
    .fade-in-section.is-visible [class*="section_cnt"] {
      transform: translateY(0);
      opacity: 1;
    }
    .fade-in-section:has(:target) [class*="section_cnt"] {
      transition: none;
      transform: translateY(0);
      opacity: 1;
    }
  }
}
