.footer {
  background: var(--c_tertiary);
  padding: var(--section-block-padding) var(--section-inline-padding);
  color: var(--c_primary);

  a,
  a:link,
  a:visited {
    color: currentColor;
  }

  @media (max-width: 48rem) {
    border: 1rem var(--c_tertiary) solid;
    border-image: linear-gradient(
        91.1deg,
        var(--c_complementary) 33%,
        var(--c_secondary) 0%,
        var(--c_secondary) 66%,
        var(--c_primary) 0
      )
      100% 0 0 0 / 0.5rem 0 0 0;
  }

  > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    text-align: center;
  }

  p {
    max-inline-size: 66ch;
    margin: 0;
    text-align: center;
    font-size: 1rem;
    line-height: 2;
    word-spacing: 0;
    text-align: center;
    text-wrap: balance;
  }

  p span {
    white-space: nowrap;
  }

  [class*="social-icons"] {
    transform: translate(var(--social-icon-offset), 0);
    opacity: 1;
    animation: none;
    margin: 0;
    color: inherit;
  }

  .signature {
    inline-size: max(7vw, 7rem);
    display: block;
    margin: 0 auto 0.5rem;
    fill: var(--c_primary);
    transform: rotate(3deg);
  }

  .links {
    margin-block: 0 1.5rem;
    @media (min-width: 64rem) {
      display: flex;
      inline-size: 100%;
      align-items: center;
      justify-content: space-between;
    }
  }

  nav {
    margin-inline: auto;
    margin-block-end: 2rem;
    font-size: 1rem;
    inline-size: fit-content;

    @media (min-width: 64rem) {
      margin: 0;
    }

    a,
    a:link,
    a:visited {
      color: currentColor;
    }

    ul {
      margin: 0;
      padding: 0;
    }
  }

  @media (min-width: 64rem) {
    padding-block: 2.5rem;

    p {
      text-align: left;
    }

    .signature {
      margin-inline: 0;
    }

    .copyright {
      align-self: flex-start;
    }

    [class*="social-icons"] {
      align-self: flex-end;
      transform: translate(calc(var(--social-icon-offset) * -1), 0);
    }

    nav {
      text-align: left;
    }
  }
}
