.social-icons {
  display: flex;
  gap: 1rem;
  inline-size: fit-content;
  margin: 0 auto 3rem auto;
  transform: translate(var(--social-icon-offset), 2rem);
  opacity: 0;
  color: var(--c_primary);
  animation: reveal-socials 0.5s linear 0.33s forwards;

  a {
    padding: 0.75rem;
    flex: 1 1 20%;
    display: block;
    cursor: pointer;
    border-radius: 50%;
    transform: scale(1);
    color: inherit;
    svg {
      transition: transform 0.25s 0s;
      will-change: transform;
    }
    &:hover svg {
      transform: scale(1.2);
    }
  }

  :is(:link, :visited) {
    color: inherit;
  }

  svg {
    inline-size: 1.8rem;
    aspect-ratio: 1;
    display: block;
    fill: currentColor;
  }

  @media (min-width: 64rem) {
    margin: 0;
  }
}

@keyframes reveal-socials {
  33% {
    opacity: 0;
  }
  100% {
    transform: translate(var(--social-icon-offset), 0);
    opacity: 1;
  }
}
